%display-flex {
  display: flex;
}

.#{$display-flex-prefix} {
  @extend %display-flex;
}

@each $flex-align-name, $flex-align-value in $flex-align-items-types {
  @each $flex-justify-name, $flex-justify-value in $flex-justify-content-types {
    .#{$display-flex-prefix}-#{$flex-align-name}#{$flex-justify-name} {
      @extend %display-flex;
      align-items: $flex-align-value;
      justify-content: $flex-justify-value;
    }
  }
}

@each $flex-content-name, $flex-content-value in $flex-align-content-types {
  .#{$display-flex-prefix}-ac-#{$flex-content-name} {
    align-content: $flex-content-value;
  }
}

.#{$display-flex-prefix}-wrap {
  flex-wrap: wrap;
}

.#{$display-flex-prefix}-nowrap {
  flex-wrap: nowrap;
}

.#{$display-flex-prefix}-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.#{$display-flex-prefix}-row {
  flex-direction: row;
}

.#{$display-flex-prefix}-row-reverse {
  flex-direction: row-reverse;
}

.#{$display-flex-prefix}-column {
  flex-direction: column;
}

.#{$display-flex-prefix}-column-reverse {
  flex-direction: column-reverse;
}

.#{$display-flex-prefix}-grow {
  flex-grow: 1;
}

.#{$display-flex-prefix}-nogrow {
  flex-grow: 0;
}

.#{$display-flex-prefix}-shrink {
  flex-shrink: 1;
}

.#{$display-flex-prefix}-noshrink {
  flex-shrink: 0;
}
